body{
    font-family: #B3F2E2;
    background-color: #B3F2E2;
    }
            
h1 {
    color:#9C0A07;
    background-color: #F892DC;
    padding: 20px;
    }
            
            
p  {
    padding-left: 20px;
    padding-right:20px;
    }
          
h2 {
    font-family: #D2F244;
        
    padding-left: 20px;
    padding-right:20px;
}